<!-- <div class="flex items-center w-full">
	<div class="flex items-center px-24">
		<div class="flex-item flex flex-col items-center justify-start">
			<span class="pills py-4 text-left">andika wiguna</span>
			<h1 class="py-4">HI! I'M ANDIKA</h1>
			<h1 class="typed-effect py-4">I'M A DEVELOPER</h1>
			<p class="py-4">
				Pushing the boundaries of web application design, 
				leveraging my expertise in HTML5, CSS, 
				and JavaScript alongside cutting-edge Angular frameworks. 
				My role extends beyond coding; I nurture our front-end team's growth, 
				fostering innovation and collaboration to exceed user expectations with exceptional digital experiences.
			</p>
			<div class="social-container py-4">
				<button class="main-button">GET IN TOUCH</button>
				<button class="social-button"></button>
			</div>
		</div>
		<div class="flex-item flex items-center justify-center">
		</div>
	</div>
</div> -->

<section class="about" animateOnScroll>
<div class="container flex items-center justify-start">
  <div class="flex items-center">
    <!-- Left Content -->
    <div class="flex flex-col items-start justify-start max-w-3xl">
      <span class="pills sm:my-4">andika wiguna</span>
      <span class="text-box text-white">HI! I'M ANDIKA</span>
			<div class="flex flex-row items-center gap-0 md:gap-2">
				<span class="text-box text-red-400 typed-effect">I'M A</span>
				<span class="text-box text-red-400 anim-1 ml-2">DEVELOPER</span>
				<span class="text-box text-red-400 anim-2 ml-2">CREATOR</span>
			</div>
      <p class="py-4 text-description text-white">
        A frontend wizard by day and a curious explorer by night, 
				I craft sleek web experiences while savoring food, traveling, 
				jamming to tunes, geeking out over pop culture, sports, PC builds, and custom keyboards.
      </p>
      <!-- <div class="social-container py-4 flex gap-4 items-center">
        <button class="main-button">GET IN TOUCH</button>
        <button class="social-button"><fa-icon [icon]=faFacebook size="xl"></fa-icon></button>
        <button class="social-button"><fa-icon [icon]=faInstagram size="xl"></fa-icon></button>
        <button class="social-button"><fa-icon [icon]=faLinkedin size="xl"></fa-icon></button>
      </div> -->
			<div class="social-container w-full py-4 flex flex-wrap gap-4 items-center">
				<div class="w-full sm:w-auto flex justify-center">
					<button class="main-button w-full" (click)="scrollToSection('contact')">GET IN TOUCH <fa-icon [icon]="faArrowRight" class="ml-2"></fa-icon></button>
				</div>
				<div class="flex flex-wrap justify-center sm:flex-row gap-4 social-responsive">
					<button class="social-button"><fa-icon [icon]="faFacebook" size="xl"></fa-icon></button>
					<button class="social-button"><fa-icon [icon]="faInstagram" size="xl"></fa-icon></button>
					<a href="https://www.linkedin.com/in/andika-wiguna/" target="_blank" rel="noopener noreferrer">
						<button class="social-button"><fa-icon [icon]="faLinkedin" size="xl"></fa-icon></button>
					</a>
					<!-- <button class="social-button"><fa-icon [icon]="faLinkedin" size="xl"></fa-icon></button> -->
				</div>
			</div>
    </div>

    <!-- Right Content -->
    <div class="flex items-start justify-start">
      
    </div>
  </div>
</div>
</section>