<div class="home-container bg-gradient-to-r from-red-600 from-0% via-red-900 via-40% to-slate-900 to-80% xl:to-90%">
	<section id="header">
		<app-header></app-header>
	</section>
	<section id="about">
		<app-about></app-about>
	</section>
	<section id="stack">
		<app-stack></app-stack>
	</section>
	<section id="projects">
		<app-projects (projectClick)="onProjectClick($event)"></app-projects>
	</section>
	<section id="services">
		<app-services></app-services>
	</section>
	<section id="contact">
		<app-contact></app-contact>
	</section>
	<app-footer></app-footer>
</div>

<app-project-modal
	[isOpen]="isProjectModalOpen"
	[project]="selectedProject"
	[isMobile]="isMobile"
	(closeModal)="onCloseProjectModal()">
</app-project-modal>